.jumbo {
  height: 100vh;
  background-color: black;
  text-align: center;
  padding-top: 250px;
  margin-bottom: 0 !important;
}

.nameLead {
  color: rgb(41, 171, 223);
  font-size: 100px;
  font-family: "Martel", serif;
  font-style: bold;
}

.titleLead {
  color: white;
  font-size: 50px;
  font-style: bold;
  font-family: "Rambla", sans-serif;
}

@media only screen and (max-width: 600px) {
  .nameLead {
    font-size: 30px;
  }

  .titleLead {
    font-size: 25px;
  }
}
