.jumbo {
  height: 100vh;
  background-color: black;
  text-align: center;
  padding-top: 250px;
  margin-bottom: 0 !important;
}

.nameLead {
  color: rgb(41, 171, 223);
  font-size: 125px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.titleLead {
  color: white;
  font-size: 50px;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  text-shadow: -1px -1px 3px #020202, 2px 2px 4px rgb(41, 171, 223);
}

@media only screen and (max-width: 960px) {
  .jumbo {
    padding-top: 60px;
  }
  .nameLead {
    font-size: 80px;
  }

  .titleLead {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .jumbo {
    padding-top: 100px;
  }
  .nameLead {
    font-size: 50px;
  }

  .titleLead {
    font-size: 35px;
  }
}
